.gopher-grades-result-iframe {
    width: 100%;
    border: none;
    height: 110px;
    background: url(https://umn.lol/images/icon.png) 0px 0px no-repeat;
    background-size: 100px 100px;
    animation: breathe 2s ease-in-out infinite alternate;
}

.gopher-grades-container {
    height: 110px;
}

.gopher-grades-portal {
    margin: 15px;
    position: relative;
    width: calc(100% - 30px);
}

.gopher-grades-portal .portal-label {
    margin: 0 0 2px 0;
}

.table-responsive {
    overflow-y: hidden;
}

@keyframes breathe {
    0% {
        background-size: 90px 90px;
    }
    50% {
        background-size: 100px 100px;
    }
    100% {
        background-size: 90px 90px;
    }
}

@media (max-width: 1300px) {
    .gopher-grades-container, .gopher-grades-result-iframe {
        height: 200px;
    }
}
