[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
sqlalchemy = "*"
requests = "*"
nameparser = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
