[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "2.3.3"
openpyxl = "*"
sqlalchemy = "*"
requests = "*"
nameparser = "*"
alembic = "*"
aiohttp = "*"
gql = "*"

[dev-packages]
