#gg_gcal_btn_group {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 6px;
}

#gg_icon {
  border: none;
  border-radius: 20px;

  background-image: url('https://umn.lol/images/icon-sm.png');
  background-size: contain;
  background-repeat: no-repeat;

  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: -5px;
}

#gg_gcal_button {
  border-radius: 5px;
  box-shadow: #5B0013 0 0 12px;
  background-color: #5B0013;
  color: white;
  border: none;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gg_gcal_button:hover {
  opacity: 90%;
}

#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#cover-spin img {
  display: block;
  width: 80px;
  height: 80px;
  animation: spin 1.2s linear infinite;
  margin: 20px;
}

#cover-spin .loading-text {
  text-align: center;
}

@keyframes spin {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
